# Ignore CSV and pickle files in the data folder
data/*.csv
data/*.pkl

# Typical ignores for configs, logs, and environments
*.log
*.env
*.env.*
*.ini
*.cfg
*.json

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# vscode settings
.vscode/
